/flavrRecipes.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
/flavrRecipes.xcodeproj/xcuserdata/apple.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/flavrRecipes.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
/flavrRecipes.xcodeproj/project.pbxproj
